.button {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 5rem;
}

.backBtn {
  padding: 9px 20px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  box-shadow: 0px 1px 5px 0px hsl(0, 14%, 85%);
  border-radius: 5px;
}

.backBtn i{
    margin-right: 10px;
}