.app{
    height: 100vh;
    background:hsl(0, 0%, 98%);
}

:root{
--Dark-Blue : hsl(209, 23%, 22%) //(Dark Mode Elements)
--Very-Dark-Blue : hsl(207, 26%, 17%) //(Dark Mode Background)


--Very-Dark : hsl(200, 15%, 8%) //(Light Mode Text)
--Dark-Gray : hsl(0, 0%, 52%) //(Light Mode Input)
--Very-Light : hsl(0, 0%, 98%) //(Light Mode Background)
--White : hsl(0, 0%, 100%) //(Dark Mode Text & Light Mode Elements)
}

.nav.dark,.input.dark,.home.dark{
    background-color: hsl(207, 26%, 17%);
}

